sudo: required
dist: trusty
language: node_js
node_js:
  - "8"
  - "9"
before_install:
  - echo ttf-mscorefonts-installer msttcorefonts/accepted-mscorefonts-eula select true | sudo debconf-set-selections
  - sudo apt-get -qq update
  - sudo apt-get install -y ttf-mscorefonts-installer
  - sudo fc-cache -fv
install:
  - npm install
  - npm run bootstrap
script:
  - npm test
notifications:
  email: false
